.CatSearch {
  background: darkgrey;
  padding: 10px 20px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}